{% extends "base.html"%}
{% block content%}
<div class="register-container">
    <div class="register-card">
        <div class="register-head">
            <h1>Create Your Account</h1>
            <p>Start your preparation journey with Hirevnce.</p>
        </div>
        <form method="POST" autocomplete="off">
             {% csrf_token %}
                    <div class="form-group">
                        <label for="{{form.username.id_for_label}}">Username</label>
                        {{form.username}}
                        {{form.username.errors}}
                    </div>
                    <div class="form-group">
                        <label for="{{form.email.id_for_label}}">Email</label>
                        {{form.email}}
                        {{form.email.errors}}
                    </div>

                    <div class="form-group">
                        <label for="{{form.password1.id_for_label}}">Password</label>
                        <div class="input-password">
                            {{form.password1}}
                            <button type="button"  class="toggled-button" onclick="toggledPassword('{{form.password1.id_for_label}}',this)">
                                <span class="eye-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#617593" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye"><path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/><circle cx="12" cy="12" r="3"/></svg>
                                </span>
                                <span class="eye-off-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#617593" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-off-icon lucide-eye-off"><path d="M10.733 5.076a10.744 10.744 0 0 1 11.205 6.575 1 1 0 0 1 0 .696 10.747 10.747 0 0 1-1.444 2.49"/><path d="M14.084 14.158a3 3 0 0 1-4.242-4.242"/><path d="M17.479 17.499a10.75 10.75 0 0 1-15.417-5.151 1 1 0 0 1 0-.696 10.75 10.75 0 0 1 4.446-5.143"/><path d="m2 2 20 20"/></svg>
                                </span>
                            </button>
                        {{form.password1.errors}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="{{form.password2.id_for_label}}">Confirm Password</label>
                        <div class="input-password">
                            {{form.password2}}
                            <button type="button"  class="toggled-button" onclick="toggledPassword('{{form.password2.id_for_label}}',this)">
                                <span class="eye-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#617593" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye"><path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/><circle cx="12" cy="12" r="3"/></svg>
                                </span>
                                <span class="eye-off-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#617593" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-off-icon lucide-eye-off"><path d="M10.733 5.076a10.744 10.744 0 0 1 11.205 6.575 1 1 0 0 1 0 .696 10.747 10.747 0 0 1-1.444 2.49"/><path d="M14.084 14.158a3 3 0 0 1-4.242-4.242"/><path d="M17.479 17.499a10.75 10.75 0 0 1-15.417-5.151 1 1 0 0 1 0-.696 10.75 10.75 0 0 1 4.446-5.143"/><path d="m2 2 20 20"/></svg>
                                </span>
                            </button>
                        {{form.password2.errors}}
                        </div>
                    </div>

                    <button type="submit">Create Account</button>
</form>
    <p class="login-link">
        Already have an account?
        <a href="{% url 'login' %}">Login</a>
    </p>
        
    </div>

</div>
    {% for m in messages %}
    {{m}}
    {% endfor %}
{% endblock %}